DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=postgres
DB_SSL=false

# Redis Configuration
REDIS_HOST=redis-19xx3.c334.asia2-1.gce.redis.com
REDIS_PORT=1943
REDIS_PASSWORD=test
REDIS_USERNAME=default

# Security
FRONTEND_URL=http://localhost:3000

# OpenWeather API
OPENWEATHER_API_KEY=test

# Server Configuration
PORT=8080

JWT_SECRET=test
JWT_EXPIRATION=1h